In [1]:
import pandas as pd

## Import data

In [2]:
url = 'https://github.com/gemps/NBA-2017case/blob/main/Seasons_Stats.csv?raw=true'

NBA = pd.read_csv(url,index_col=0)
NBA.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

## Data Preprocessing

### Keep only 2017

In [3]:
#only 2017 stats
df = NBA[NBA.Year == 2017].reset_index(drop=True)
df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
1,2017.0,Quincy Acy,PF,26.0,TOT,38.0,1.0,558.0,11.8,0.565,...,0.750,20.0,95.0,115.0,18.0,14.0,15.0,21.0,67.0,222.0
2,2017.0,Quincy Acy,PF,26.0,DAL,6.0,0.0,48.0,-1.4,0.355,...,0.667,2.0,6.0,8.0,0.0,0.0,0.0,2.0,9.0,13.0
3,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
4,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
591,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
592,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
593,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
594,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595 entries, 0 to 594
Data columns (total 52 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    595 non-null    float64
 1   Player  595 non-null    object
 2   Pos     595 non-null    object
 3   Age     595 non-null    float64
 4   Tm      595 non-null    object
 5   G       595 non-null    float64
 6   GS      595 non-null    float64
 7   MP      595 non-null    float64
 8   PER     595 non-null    float64
 9   TS%     593 non-null    float64
 10  3PAr    593 non-null    float64
 11  FTr     593 non-null    float64
 12  ORB%    595 non-null    float64
 13  DRB%    595 non-null    float64
 14  TRB%    595 non-null    float64
 15  AST%    595 non-null    float64
 16  STL%    595 non-null    float64
 17  BLK%    595 non-null    float64
 18  TOV%    593 non-null    float64
 19  USG%    595 non-null    float64
 20  blanl   0 non-null      float64
 21  OWS     595 non-null    float64
 22  DWS     595 non-null    float64
 23  WS      595 non-null    float64
 24  WS/48   595 non-null    float64
 25  blank2  0 non-null      float64
 26  OBPM    595 non-null    float64
 27  DBPM    595 non-null    float64
 28  BPM     595 non-null    float64
 29  VORP    595 non-null    float64
 30  FG      595 non-null    float64
 31  FGA     595 non-null    float64
 32  FG%     593 non-null    float64
 33  3P      595 non-null    float64
 34  3PA     595 non-null    float64
 35  3P%     549 non-null    float64
 36  2P      595 non-null    float64
 37  2PA     595 non-null    float64
 38  2P%     590 non-null    float64
 39  eFG%    593 non-null    float64
 40  FT      595 non-null    float64
 41  FTA     595 non-null    float64
 42  FT%     571 non-null    float64
 43  ORB     595 non-null    float64
 44  DRB     595 non-null    float64
 45  TRB     595 non-null    float64
 46  AST     595 non-null    float64
 47  STL     595 non-null    float64
 48  BLK     595 non-null    float64
 49  TOV     595 non-null    float64
 50  PF      595 non-null    float64
 51  PTS     595 non-null    float64
dtypes: float64(49), object(3)
memory usage: 241.8+ KB

In [5]:
#Check duplicates value
df['Player'].value_counts()

Omri Casspi             4
Lance Stephenson        4
Ersan Ilyasova          4
Anthony Morrow          3
Jusuf Nurkic            3
                       ..
Nemanja Bjelica         1
Raul Neto               1
Udonis Haslem           1
Nicolas Laprovittola    1
Kyle Wiltjer            1
Name: Player, Length: 486, dtype: int64

*There are null data, missing, and duplicates values*

In [6]:
#Cleaning data

#drop column
df = df.drop(['blanl','blank2'],axis=1)

#drop duplicates
df = df.drop_duplicates('Player',keep='last')

#filling null
df.fillna(value=0.0,inplace=True)

df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
3,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
4,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0
5,2017.0,Arron Afflalo,SG,31.0,SAC,61.0,45.0,1580.0,9.0,0.559,...,0.892,9.0,116.0,125.0,78.0,21.0,7.0,42.0,104.0,515.0
6,2017.0,Alexis Ajinca,C,28.0,NOP,39.0,15.0,584.0,12.9,0.529,...,0.725,46.0,131.0,177.0,12.0,20.0,22.0,31.0,77.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
591,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
592,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
593,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
594,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [7]:
#cek data info
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 486 entries, 0 to 594
Data columns (total 50 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    486 non-null    float64
 1   Player  486 non-null    object
 2   Pos     486 non-null    object
 3   Age     486 non-null    float64
 4   Tm      486 non-null    object
 5   G       486 non-null    float64
 6   GS      486 non-null    float64
 7   MP      486 non-null    float64
 8   PER     486 non-null    float64
 9   TS%     486 non-null    float64
 10  3PAr    486 non-null    float64
 11  FTr     486 non-null    float64
 12  ORB%    486 non-null    float64
 13  DRB%    486 non-null    float64
 14  TRB%    486 non-null    float64
 15  AST%    486 non-null    float64
 16  STL%    486 non-null    float64
 17  BLK%    486 non-null    float64
 18  TOV%    486 non-null    float64
 19  USG%    486 non-null    float64
 20  OWS     486 non-null    float64
 21  DWS     486 non-null    float64
 22  WS      486 non-null    float64
 23  WS/48   486 non-null    float64
 24  OBPM    486 non-null    float64
 25  DBPM    486 non-null    float64
 26  BPM     486 non-null    float64
 27  VORP    486 non-null    float64
 28  FG      486 non-null    float64
 29  FGA     486 non-null    float64
 30  FG%     486 non-null    float64
 31  3P      486 non-null    float64
 32  3PA     486 non-null    float64
 33  3P%     486 non-null    float64
 34  2P      486 non-null    float64
 35  2PA     486 non-null    float64
 36  2P%     486 non-null    float64
 37  eFG%    486 non-null    float64
 38  FT      486 non-null    float64
 39  FTA     486 non-null    float64
 40  FT%     486 non-null    float64
 41  ORB     486 non-null    float64
 42  DRB     486 non-null    float64
 43  TRB     486 non-null    float64
 44  AST     486 non-null    float64
 45  STL     486 non-null    float64
 46  BLK     486 non-null    float64
 47  TOV     486 non-null    float64
 48  PF      486 non-null    float64
 49  PTS     486 non-null    float64
dtypes: float64(47), object(3)
memory usage: 193.6+ KB

## Data Analysis

### Youngest NBA Player in 2017

In [8]:
young = df[['Tm', 'Player','Age']]

In [9]:
young = young[young.groupby('Tm')['Age'].transform('min') == df['Age']].sort_values(by=['Tm']).reset_index(drop=True)
youngest = young.drop_duplicates('Tm',keep='first').set_index('Tm')
youngest

                   Player   Age
Tm
ATL       DeAndre' Bembry  22.0
BOS          Jaylen Brown  20.0
BRK      Isaiah Whitehead  21.0
CHI          Bobby Portis  21.0
CHO        Christian Wood  21.0
CLE            Kay Felder  21.0
DAL            Ben Bentil  21.0
DEN          Jamal Murray  19.0
DET        Henry Ellenson  20.0
GSW          Kevon Looney  20.0
HOU        Chinanu Onuaku  20.0
IND          Myles Turner  20.0
LAC         Diamond Stone  19.0
LAL        Brandon Ingram  19.0
MEM          Wade Baldwin  20.0
MIA       Justise Winslow  20.0
MIL            Thon Maker  19.0
MIN            Tyus Jones  20.0
NOP         Cheick Diallo  20.0
NYK    Kristaps Porzingis  21.0
OKC      Domantas Sabonis  20.0
ORL     Stephen Zimmerman  20.0
PHI         Jahlil Okafor  21.0
PHO         Dragan Bender  19.0
POR           Noah Vonleh  21.0
SAC  Georgios Papagiannis  19.0
SAS       Dejounte Murray  20.0
TOR          Jakob Poeltl  21.0
UTA            Trey Lyles  21.0
WAS      Chris McCullough  21.0

### Oldest NBA Player in 2017

In [10]:
old = df[['Tm', 'Player','Age']]

In [11]:
old = old[old.groupby('Tm')['Age'].transform('max') == df['Age']].sort_values(by=['Tm']).reset_index(drop=True)
oldest = old.drop_duplicates('Tm',keep='first').set_index('Tm')
oldest

              Player   Age
Tm
ATL    Mike Dunleavy  36.0
BOS     Gerald Green  31.0
BRK       Luis Scola  36.0
CHI      Dwyane Wade  35.0
CHO    Brian Roberts  31.0
CLE   Chris Andersen  38.0
DAL    Dirk Nowitzki  38.0
DEN      Mike Miller  36.0
DET       Beno Udrih  34.0
GSW      Matt Barnes  36.0
HOU     Nene Hilario  34.0
IND     Aaron Brooks  32.0
LAC      Paul Pierce  39.0
LAL      Metta World  37.0
MEM     Vince Carter  40.0
MIA    Udonis Haslem  36.0
MIL      Jason Terry  39.0
MIN       John Lucas  34.0
NOP     Jarrett Jack  33.0
NYK  Carmelo Anthony  32.0
OKC    Nick Collison  36.0
ORL      C.J. Watson  32.0
PHI   Tiago Splitter  32.0
PHO   Tyson Chandler  34.0
POR      Evan Turner  28.0
SAC    Arron Afflalo  31.0
SAS    Manu Ginobili  39.0
TOR      P.J. Tucker  31.0
UTA      Joe Johnson  35.0
WAS    Marcin Gortat  32.0

### The most minutes played (MP) in each position (Pos)

In [12]:
MP = df[['Pos', 'Player', 'MP']]

In [13]:
MP = MP[MP.groupby('Pos')['MP'].transform('max') == df['MP']].sort_values(by=['MP'], ascending = False).reset_index(drop=True)
MP

  Pos              Player      MP
0  SF      Andrew Wiggins  3048.0
1   C  Karl-Anthony Towns  3030.0
2  PG        James Harden  2947.0
3  PF     Harrison Barnes  2803.0
4  SG       C.J. McCollum  2796.0

### The highest average total rebound percentage (TRB%) by team

In [14]:
TRB = df[['TRB%','Tm']].groupby('Tm').mean()
TRB = TRB.sort_values(by=['TRB%'], ascending = False)
TRB.head(1)

          TRB%
Tm
WAS  12.735294

### The highest average total assist percentage (AST%) by team

In [15]:
AST = df[['AST%','Tm']].groupby('Tm').mean()
AST = AST.sort_values(by=['AST%'], ascending = False)
AST.head(1)

          AST%
Tm
DEN  15.723529

### The highest average total steal percentage (STL%) by team

In [16]:
STL = df[['STL%','Tm']].groupby('Tm').mean()
STL = STL.sort_values(by=['STL%'], ascending = False)
STL.head(1)

         STL%
Tm
MIN  2.413333

### The highest average total block percentage (BLK%) by team

In [17]:
BLK = df[['BLK%','Tm']].groupby('Tm').mean()
BLK = BLK.sort_values(by=['BLK%'], ascending = False)
BLK.head(1)

         BLK%
Tm
MIL  2.741176

### Best Player

The best players must have a high FF score to lead their team to become champions

In [18]:
# Looking FF score from Shooting (eFG%), Turnovers (TOV%), Rebounding (ORB% and DRB%) and Free Throws (FTA & FGA)

Best = df [['Player', 'eFG%', 'TOV%', 'ORB%', 'DRB%', 'FTA', 'FGA']]
Best

                Player   eFG%  TOV%  ORB%  DRB%    FTA    FGA
0         Alex Abrines  0.531   8.3   1.9   7.1   49.0  341.0
3           Quincy Acy  0.542   9.6   3.8  18.2   57.0  153.0
4         Steven Adams  0.571  16.0  13.0  15.5  257.0  655.0
5        Arron Afflalo  0.514   8.4   0.7   8.4   93.0  420.0
6        Alexis Ajinca  0.500  13.7   8.3  23.8   40.0  178.0
..                 ...    ...   ...   ...   ...    ...    ...
590        Cody Zeller  0.571  10.9   8.6  17.3  196.0  443.0
591       Tyler Zeller  0.494  10.2   9.2  17.0   39.0  158.0
592  Stephen Zimmerman  0.323   8.3  10.8  24.9    5.0   31.0
593        Paul Zipser  0.473  14.4   1.9  14.2   40.0  221.0
594        Ivica Zubac  0.529  10.4   7.1  21.9   49.0  238.0

[486 rows x 7 columns]

In [19]:
Best ['PLY'] = Best.iloc[:,1:].apply(lambda x: x.sum(),axis=1)
Player = Best.sort_values(by=['PLY'], ascending = False).reset_index(drop=True)
Player = Player [['Player', 'PLY']].head(1)
Player

<ipython-input-19-aa42a8e53fae>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Best ['PLY'] = Best.iloc[:,1:].apply(lambda x: x.sum(),axis=1)

              Player       PLY
0  Russell Westbrook  2831.576

### Best Team

The best team based on the overall score of the players on their team

In [20]:
#Create new column to sum players score
df['Total'] = df.iloc[:,5:].apply(lambda x: x.mean(),axis=1)
df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Total
0,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,...,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0,67.574489
3,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,...,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0,37.999400
4,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,...,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0,174.865289
5,2017.0,Arron Afflalo,SG,31.0,SAC,61.0,45.0,1580.0,9.0,0.559,...,9.0,116.0,125.0,78.0,21.0,7.0,42.0,104.0,515.0,92.048822
6,2017.0,Alexis Ajinca,C,28.0,NOP,39.0,15.0,584.0,12.9,0.529,...,46.0,131.0,177.0,12.0,20.0,22.0,31.0,77.0,207.0,45.784267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0,124.546622
591,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0,39.695644
592,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0,9.374911
593,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0,51.868711
594,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0,52.153311

In [21]:
#Looking for the best overall score by team
Best = df[['Tm','Total']].groupby('Tm').sum().sort_values(by=['Total'], ascending = False)
Best.head(1)

         Total
Tm
GSW  1575.9278